body {
  margin: 0;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.fa-logo-loading {
  margin: auto;
  background-image: url('/img/page/logo.png');
  background-size: 300px 300px;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}

.navbar-brand.logo {
  padding: 5px 5px 5px 15px;
}

.navbar-brand.logo span {
  vertical-align: 60%;
  padding: 0px 5px 0px;
}

.fa-logo::before {
    background-image: url('/img/page/logo.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
    content:"";
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

/******* STARTPAGE *******/

.container h1 {
  margin-bottom: 30px;
}

.startpage {
  padding: 0px;
}

.icons, .icons:visited, .icons:active, .icons:focus {
  text-decoration: none;
  float: left;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px;
  padding: 30px;
  text-align: center;
  width: 29%;
  height: 29%;
  color: #373737;
}

.icons:hover {
    text-decoration: none;
    border: 1px solid #777777;
    color: #777777;
    cursor: pointer;
    padding: 35px 25px 25px 35px;
}

.icons img {
    border: none;
    padding-top: 10px;
    width: 55%;
}

.icons_inactive, .icons_inactive:hover, .icons_inactive:visited, .icons_inactive:active, .icons_inactive:focus{
  text-decoration: none;
  float: left;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px;
  padding: 30px;
  text-align: center;
  width: 29%;
  height: 29%;
  color: #373737;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.icons_inactive img {
    border: none;
    padding-top: 10px;
    width: 55%;
}

.hruler {
  background-color: black;
  height: 5px;
  width: 100%;
  margin-top: 50px;
  display: inline-block;
  clear: both;
}



.pictureDetail {
  max-width: 425px;
}

/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

.card-container.au-enter {
  opacity: 0;
}

.card-container.au-enter-active {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #337ab7;
  color: rgb(136, 172, 217);
  margin-bottom: 32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.card .content {
  margin-top: 10px;
}

.card .content .name {
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, .5);
  font-size: 18px;
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  border-radius: 6px 6px 0 0;
}

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px #FFF solid;
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rotate-left-45:before {
    display: block;
    transform: rotate(-45deg);
}
.rotate-right-45:before {
    display: block;
    transform: rotate(45deg);
}
